@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f2ea;
  --foreground: #101010;
  --primary: #e75837;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-optical-sizing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
