@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e75837;
  --background: #f7f2ea;
  --secondary: #fbf8f3;
  --foreground: #101010;
  --muted-foreground: #666666;
}

body {
  color: var(--foreground);
  font-optical-sizing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
